<div class="row">
    <div class="col">
        Please read the following prompt, and then choose
        {{
            element.config.minNumberSelections === element.config.maxNumberSelections
                ? element.config.maxNumberSelections
                : ' at least ' +
                  element.config.minNumberSelections +
                  ', but no more than ' +
                  element.config.maxNumberSelections
        }}
        {{ element.config.maxNumberSelections | i18nPlural: { '=1': ' option', other: 'options' } }}:
        <blockquote class="blockquote preamble">
            <p class="mb-0">{{ element.config.question }}</p>
        </blockquote>
    </div>
</div>
<div class="row" *ngFor="let option of shuffledChoices">
    <div class="col options">
        <input
            type="checkbox"
            [checked]="response?.selections?.includes(option.value)"
            (change)="handleResponseToggled(option)"
        />
        <label>{{ option.label }} </label>
    </div>
</div>
