<div class="page">
  <ng-container
    *ngIf="!isLoading && !course">
    <h4>Not Found</h4>
  </ng-container>
  <ng-container *ngIf="course">

    <div class="divider-sm"></div>
    <div class="container">
      <div class="row">
        <div style="float: left" class="col">
          <h4>{{ course.name }} Sections</h4>
        </div>
        <div style="float: right; text-align: right" class="col">
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleOpenNewSectionModal()"
          >Add Section
          </button>
        </div>
      </div>
    </div>
    <div class="divider-sm"></div>



    <table class="table table-striped">
      <thead>
      <tr>
        <th>Section Number</th>
        <th>Index Code</th>
        <th>TA</th>
        <th>Professor</th>
        <th>Meeting Times</th>
        <th>Modify</th>
      </tr>
      </thead>
      <tbody>
      <tr
        *ngFor="let section of sections">
        <td>{{ section.sectionNumber }}</td>
        <td>{{ section.index }}</td>
        <td>
          <app-user-badge
            [user]="section.ta">
          </app-user-badge>
        </td>
        <td>
          <app-user-badge
            [user]="section.professor">
          </app-user-badge>
        </td>
        <td>{{ section.meetingTimes.length }}</td>
        <td><a [routerLink]="" (click)="handleOpenEditSectionModal(section)">Modify </a></td>
      </tr>
      </tbody>
    </table>

  </ng-container>
</div>

<app-section-edit
  [isVisible]="isEditSectionModalOpen"
  [(section)]="selectedEditSection"
  (onClose)="handleCloseEditSectionModal()"
>
