<table *ngIf="users" class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Present</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.username || '' }}</td>
            <td>{{ user.firstName || '' }}</td>
            <td>{{ user.lastName || '' }}</td>
            <td>
                <input
                    type="checkbox"
                    [(ngModel)]="attendingIds[user.id]"
                    (change)="handleUserToggled(user, attendingIds[user.id])"
                />
            </td>
        </tr>
    </tbody>
</table>
