.sidebar {
  width: 13rem;
  display: block !important;
  height: 100%;
}


.nav-item {
  background-color: var(--light);
}


.card-header {
  padding: .1rem;
}


.mat-expansion-panel-header {
  background: var(--grey);
  font-size: 1rem;
  padding: 0.9rem;
}



.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded:focus {
  background-color: var(--light);
  width: inherit;
}


.link-style {
  font-size: 1rem;
  font-weight: normal;
  margin-left: -0.8rem;
  color: var(--primary)
}


li {
  margin-bottom: .4rem;
  margin-top: .4rem;
}

.btn-sidebar {
  width: 13.4rem;
  margin-left: -1.5rem;
  background-color: white;
  border-color: transparent;
  text-align: left;
  border-width: 0;
}

.btn-sidebar:hover {
  background-color: var(--light-grey);
}

.btn-light:not(:disabled):not(.disabled):active:focus,
.btn-light:focus,
.btn-light.focus {
  box-shadow: none;
}

.link-bold {
  font-weight: bold;
}
