.preamble {
  margin-left: 8px;
  border-left: 2px solid grey;
  padding-left: 8px;
  font-size: 15px;
  font-weight: 400;
}

.options {
  margin: 0px 16px;

  textarea {
    width: 100%;
    min-height: 125px;
  }

}
