<html>
    <body>
        <div class="page">
            <div class="row">
                <app-header></app-header>
            </div>

            <div class="row" style="min-height: 100vh">
                <div class="col-sm-auto" style="width: 13rem">
                    <app-sidebar></app-sidebar>
                </div>
                <div class="col">
                    <div class="content">
                        <div *ngIf="isLoadingArgs" class="d-flex justify-content-center">
                            <div class="spinner-border text-primary" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <app-todos-view></app-todos-view>
                        <router-outlet
                            (activate)="handleOnActivate($event)"
                            (deactivate)="handleOnDeactivate()"
                        ></router-outlet>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <app-footer class="footer"></app-footer>
                </div>
            </div>
        </div>
    </body>
</html>
