<html>

<body>

  <div class="page">

    <app-header></app-header>

    <div class="container-fluid">
      <div class="row">
        <app-sidebar></app-sidebar>

        <div class="content">
          <div *ngIf="isLoadingArgs" class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
          <router-outlet (activate)='handleOnActivate($event)'></router-outlet>
        </div>

      </div>

      <div class="row ">
        <app-footer class="footer"></app-footer>
      </div>

    </div>

  </div>

</body>

</html>
