<div class="table-container">

  <input
      #search
      id="search"
      type="text"
      class="form-control input-style"
      placeholder="Filter results..."
      aria-label="Search"
  />
</div>

<!--<div class="divider-sm"></div>-->

<ngx-datatable #table
               class="material  scroll-vertical"
               [headerHeight]="45"
               rowHeight="auto"
               [columnMode]="'force'"
               [rows]="rows"
               [columns]="columns">

  <ngx-datatable-column *ngFor="let column of columns; let i = index;" name="{{column.name}}" prop="{{column.prop}}">
  </ngx-datatable-column>

  <ngx-datatable-column *ngIf="hasActionsColumn" name="Actions" prop='id'>
    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
      <div class="btn-group btn-group-sm" role="group">
        <button *ngIf="hasAction('view')" class="btn btn-outline-secondary" type="button"  (click)="view(row)" aria-label="view">View</button>
        <button *ngIf="hasAction('modify')" class="btn btn-outline-secondary" type="button"  (click)="edit(row)" aria-label="modify">Modify</button>
        <button *ngIf="hasAction('delete')" class="btn btn-outline-secondary" type="button"  (click)="delete(row)" aria-label="delete">Delete</button>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>


{{hasActionsColumn}}
