<div class="row" *ngIf="user">
    <div class="col">
        <app-form
            *ngIf="form"
            [form]="form"
            [showSubmit]="false"
            (onFieldChange)="handleFieldUpdated($event)"
        ></app-form>

        <button class="btn btn-primary" (click)="handleSubmitSettings()">Update User Settings</button>
    </div>
</div>

<hr />

<!-- Add perms checks here -->
<ng-container *can="{ action: 'view', subject: 'impersonate_users' }">
    <h3>Impersonate a User</h3>
    <div class="row">
        <div class="col">
            <app-user-search-formfield (onChange)="selectedImpersonationUser = $event"></app-user-search-formfield>
        </div>
        <div class="col">
            <button *ngIf="selectedImpersonationUser" class="btn btn-primary" (click)="handleImpersonateUser()">
                Impersonate User
            </button>
        </div>
    </div>
</ng-container>
