<table class="table">
    <thead>
        <tr>
            <th>Week</th>
            <th>Dates</th>
            <th>Lesson</th>
            <th>Quiz</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let label of weekLabels; let idx = index">
            <td>Week {{ idx + 1 }}</td>
            <td>{{ label }}</td>
            <td>{{ weeks[idx]?.lessonPlan ? weeks[idx].lessonPlan.name : '' }}</td>
            <td>{{ weeks[idx]?.quiz ? weeks[idx].quiz.name : '' }}</td>
            <td>
                <div class="btn-group btn-group-sm" data-toggle="buttons">
                    <ng-container *can="{ action: 'create', subject: sampleLesson }">
                        <span *ngIf="!weeks[idx]" class="btn btn-outline-secondary" (click)="handleEditLesson(idx)"
                            >Create</span
                        >
                    </ng-container>
                    <ng-container *can="{ action: 'delete', subject: weeks[idx] }">
                        <span *ngIf="!!weeks[idx]" class="btn btn-outline-secondary" (click)="handleDeleteLesson(idx)"
                            >Delete</span
                        >
                    </ng-container>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<app-lesson-edit
    *ngIf="selectedLesson && isEditLessonModalOpen"
    [(lesson)]="selectedLesson"
    [isVisible]="isEditLessonModalOpen"
    (onClose)="handleCloseEditLessonModal()"
>
</app-lesson-edit>
