<div class="page">
    <ng-container *ngIf="!course">
        <h4>Not Found</h4>
    </ng-container>
    <ng-container *ngIf="course">
        <div class="container-margin">
            <div class="row">
                <div style="float: left; text-align: left" class="col">
                    <h4>{{ course.name }} Coverage Requests</h4>
                </div>
                <div style="float: right; text-align: right" class="col">
                    <button type="button" class="btn btn-primary" (click)="handleOpenNewCoverageRequestModal()">
                        Request Coverage
                    </button>
                </div>
            </div>
        </div>

        <div class="container-margin">
            <app-datatable [dataFunction]="fetchCoverageRequests" [columns]="columns" [reload]="refreshData">
            </app-datatable>
        </div>
    </ng-container>
</div>

<app-coverage-request-edit
    *ngIf="selectedCoverageRequest"
    [isVisible]="isEditCoverageRequestModalOpen"
    [request]="selectedCoverageRequest"
    (onClose)="handleCloseEditCoverageRequestModal()"
>
</app-coverage-request-edit>
