

button:focus, button:active:focus, button.active:focus {
  outline: none !important;
}

//
//.btn-circle {
//  width: 45px;
//  height: 45px;
//  line-height: 45px;
//  text-align: center;
//  padding: 0;
//  border-radius: 50%;
//
//}
//
//.btn-circle i {
//  position: relative;
//  top: -1px;
//}
//
//.btn-circle-sm {
//  width: 35px;
//  height: 35px;
//  line-height: 35px;
//  font-size: 0.9rem;
//}
//
//.btn-circle-lg {
//  width: 55px;
//  height: 55px;
//  line-height: 55px;
//  font-size: 1.1rem;
//}
//
//.btn-circle-xl {
//  width: 70px;
//  height: 70px;
//  line-height: 70px;
//  font-size: 1.3rem;
//}


/* make sure we have a visible focus ring */
.btn:focus {
  outline: none;
  box-shadow: rgba(17,204,12,0);
}


/* hide focus style if not from keyboard navigation */
.js-focus-visible .btn:focus:not(.focus-visible) {
  box-shadow: none;
}
