<div class="page">
  <ng-container
    *ngIf="!isLoading && !course">
    <h4>Not Found</h4>
  </ng-container>
  <ng-container *ngIf="course">

    <div class="container-margin">
      <div class="row">
        <div style="float: left; text-align: left" class="col">
          <h4>{{course.name}} Problems</h4>
        </div>
        <div style="float: right; text-align: right" class="col">
          <button
            type="button"
            class="btn btn-primary"
            (click)="handleOpenNewProblemModal()"
          >Add Problem
          </button>
        </div>
      </div>
    </div>

    <div class="container-margin">

      <app-datatable
        [dataFunction]="fetchProblems"
        [columns]="columns"
        [reload]="refreshData"
      ></app-datatable>

    </div>
  </ng-container>
</div>

<app-problem-edit
  [isVisible]="isEditProblemModalOpen"
  [problem]="selectedEditProblem"
  (onClose)="handleCloseEditProblemModal()"
></app-problem-edit>

<app-problem-delete
  [isVisible]="isDeleteProblemModalOpen"
  [problem]="selectedDeleteProblem"
  (onClose)="handleCloseDeleteProblemModal($event)"
></app-problem-delete>

