<ng-container>
    <h4 style="margin-left: 0.2rem">
        <b> {{ problem.name }}</b>
    </h4>
    <div class="divider-xs"></div>

    <span
        [ngClass]="{
            'pill-success': problem.difficulty == problemDifficulty.Easy,
            'pill-warning': problem.difficulty == problemDifficulty.Medium,
            'pill-danger': problem.difficulty == problemDifficulty.Hard
        }"
        class="badge-pill pill-success"
        id="difficulty"
    >
        <b>Difficulty: </b>{{ problemDifficulty[problem.difficulty] }}
    </span>
    &nbsp;
    <span class="badge-pill badge-secondary">
        <b>Time to complete:</b> {{ problem.estimatedDuration }} {{ getMinuteUnit(problem.estimatedDuration) }}
    </span>
    &nbsp;
    <span class="badge-pill badge-secondary"> <b>Created by:</b> {{ userFullName }} </span>

    <button *ngIf="allowShowSolution" style="float: right" class="btn btn-primary" (click)="handleSolutionButton()">
        {{ solutionButtonText }}
    </button>
    <ng-container *can="{ action: 'update', subject: problem }">
        <button
            *ngIf="allowShowEdit"
            style="float: right; margin-right: 0.5rem"
            class="btn btn-light"
            (click)="handleOpenEditProblemModal()"
        >
            Edit Problem
        </button>
    </ng-container>

    <div class="divider-md"></div>
    <div class="rounded-container">
        <h5>Question</h5>
        <div [innerHTML]="problem.question"></div>
    </div>

    <div class="solution" *ngIf="showSolution" [@inOutAnimation]>
        <div class="divider-sm"></div>
        <div class="rounded-container">
            <h5>Solution</h5>
            <div [innerHTML]="problem.solution"></div>
        </div>
    </div>

    <div style="margin-top: 16px" *ngIf="showLearningGoals && problem.learningGoals.length">
        <h5 style="margin-left: 0.2rem">Learning Goals</h5>
        <table class="table" style="padding: 0px 32px">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let goal of problem.learningGoals">
                    <td>{{ goal.number }}</td>
                    <td>{{ goal.name }}</td>
                    <td>{{ goal.description }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</ng-container>

<app-problem-edit [isVisible]="isEditProblemModalOpen" [problem]="problem" (onClose)="handleCloseEditProblemModal()">
</app-problem-edit>
