<div class="page" style="padding: 1rem" *can="{ action: 'update', subject: course }">
    <ng-container *ngIf="!course">
        <h4>Not Found</h4>
    </ng-container>
    <ng-container *ngIf="course">
        <h4>{{ course.name }} Settings</h4>

        <mat-tab-group
            animationDuration="0ms"
            mat-stretch-tabs
            [disableRipple]="true"
            #tabGroup
            (selectedTabChange)="tabChanged($event)"
            [(selectedIndex)]="activeTabIndex"
        >
            <mat-tab label="{{ tabs[0] }}">
                <div class="container-margin" [ngStyle]="{ display: activeTabIndex === 0 ? 'block' : 'none' }">
                    <app-configurations *ngIf="activeTabIndex === 0" [course]="course"></app-configurations>
                </div>
            </mat-tab>
            <mat-tab label="{{ tabs[2] }}" [ngStyle]="{ display: activeTabIndex === 1 ? 'block' : 'none' }">
                <div class="container-margin">
                    <app-gradebook [course]="course" *ngIf="activeTabIndex === 1"></app-gradebook>
                </div>
            </mat-tab>
            <mat-tab label="{{ tabs[3] }}" [ngStyle]="{ display: activeTabIndex === 2 ? 'block' : 'none' }">
                <div class="container-margin">
                    <app-weeks [course]="course" *ngIf="activeTabIndex === 2"></app-weeks>
                </div>
            </mat-tab>
            <mat-tab label="{{ tabs[7] }}" [ngStyle]="{ display: activeTabIndex === 3 ? 'block' : 'none' }">
                <div class="container-margin">
                    <app-view-roster [course]="course" *ngIf="activeTabIndex === 3"></app-view-roster>
                </div>
            </mat-tab>
        </mat-tab-group>
    </ng-container>
</div>

<app-modal *ngIf="isChangesModalVisible" (onClose)="handleClose()" [modalSize]="'md'" [forceClose]="forceClose">
    <span title>Unsaved Changes</span>
    <div body>
        There are unsaved changes in the {{ tabs[activeTabCopy] }} tab. Are you sure you want to switch tabs?
    </div>
    <div footer>
        <button type="button" class="btn btn-secondary" (click)="handleChangesModalAgree()">Yes</button>
    </div>
</app-modal>
