<input
    *ngIf="input.type == 'text'"
    type="text"
    value="{{ input.value }}"
    class="form-control"
    name="{{ input.name }}"
    (change)="fieldUpdated(input.name, $event)"
    [disabled]="input.disabled || disabled"
/>

<input
    *ngIf="input.type == 'date'"
    type="date"
    ngbDatepicker
    value="{{ input.value }}"
    class="form-control"
    name="{{ input.name }}"
    (change)="fieldUpdated(input.name, $event)"
    [disabled]="input.disabled || disabled"
/>

<app-user-search-formfield
    *ngIf="input.type == 'user' && !input.multi"
    [user]="input.value"
    [name]="input.name"
    (onChange)="fieldUpdated(input.name, $event)"
></app-user-search-formfield>

<app-users-multi-formfield
    *ngIf="input.type == 'user' && input.multi"
    [users]="input.value"
    [name]="input.name"
    (onChange)="fieldUpdated(input.name, $event)"
></app-users-multi-formfield>

<app-learning-goal-search-formfield
    *ngIf="input.type == 'learningGoals' && input.course"
    [course]="input.course"
    [goals]="input.value"
    [name]="input.name"
    (onChange)="fieldUpdated(input.name, $event)"
>
</app-learning-goal-search-formfield>

<app-problem-search-form
    *ngIf="input.type == 'problem' && input.course"
    [problem]="input.value"
    [name]="input.name"
    [course]="input.course"
    (onChange)="fieldUpdated(input.name, $event)"
>
</app-problem-search-form>

<app-lesson-plan-formfield
    *ngIf="input.type == 'lessonPlan' && input.course"
    [lessonPlan]="input.value"
    [name]="input.name"
    [course]="input.course"
    (onChange)="fieldUpdated(input.name, $event)"
>
</app-lesson-plan-formfield>

<app-quiz-search-formfield
    *ngIf="input.type == 'quiz' && input.course"
    [quiz]="input.value"
    [name]="input.name"
    [course]="input.course"
    (onChange)="fieldUpdated(input.name, $event)"
>
</app-quiz-search-formfield>

<app-meeting-times-formfield
    *ngIf="input.type == 'meetingTimes' && input.meetable"
    [meetable]="input.meetable"
    (onChange)="fieldUpdated(input.name, $event)"
></app-meeting-times-formfield>

<app-roles-formfield
    *ngIf="input.type == 'abilities' && input.abilities"
    [abilities]="input.abilities"
    (onChange)="fieldUpdated(input.name, $event)"
></app-roles-formfield>

<app-lesson-plan-steps-form
    *ngIf="input.type == 'lessonPlanSteps' && input.lessonPlan"
    [lessonPlan]="input.lessonPlan"
    (onChange)="fieldUpdated(input.name, $event)"
></app-lesson-plan-steps-form>

<app-multiple-choice
    *ngIf="input.type == 'multiChoiceOptions'"
    [options]="input.value"
    (onChange)="fieldUpdated(input.name, $event)"
></app-multiple-choice>

<ckeditor
    class="ckeditor"
    [editor]="Editor"
    (change)="fieldUpdatedWysiwyg(input.name, $event)"
    data="{{ input.value }}"
    *ngIf="input.type === 'wysiwyg'"
    name="input.name"
></ckeditor>

<select
    *ngIf="input.type == 'select'"
    name="{{ input.name }}"
    class="form-control"
    (change)="fieldUpdated(input.name, $event)"
    [ngModel]="input.value === undefined ? '_INVALID_OPTION_' : input.value"
>
    <option value="_INVALID_OPTION_">Please select an option</option>
    <option *ngFor="let option of input.options" value="{{ option.value }}">
        {{ option.label }}
    </option>
</select>

<input
    *ngIf="input.type == 'time'"
    value="{{ input.value }}"
    type="time"
    name="{{ input.name }}"
    (change)="fieldUpdated(input.name, $event)"
    [disabled]="input.disabled || disabled"
/>

<input
    *ngIf="input.type == 'number'"
    value="{{ input.value }}"
    type="number"
    class="form-control"
    name="{{ input.name }}"
    (change)="fieldUpdated(input.name, $event)"
    [disabled]="input.disabled || disabled"
/>

<input
    *ngIf="input.type == 'password'"
    type="password"
    value="{{ input.value }}"
    class="form-control"
    name="{{ input.name }}"
    (change)="fieldUpdated(input.name, $event)"
    [disabled]="input.disabled || disabled"
/>

<app-file-uploader
    *ngIf="input.type === 'file' && !!input.course"
    [course]="input.course"
    (onChange)="fieldUpdated(input.name, $event)"
></app-file-uploader>

<app-roster-formfield
    *ngIf="input.type === 'roster' && !!input.users"
    [users]="input.users"
    [value]="input.value"
    (onChange)="fieldUpdated(input.name, $event)"
></app-roster-formfield>

<div *ngIf="input.type === 'textBlock'">{{ input.value }}</div>
